// Specific CSS for your home-page
body {
  background-color:white;
  font-family:'Nunito';
}

.img_home {
  border-radius: 25px;
}

// .grid-template-columns {
// 	grid-template-columns: 200px 200px;
// }


// .wrapper {
//   display: grid;
//   grid-template-columns: 200px 200px;
// }

.box {
  float: left;
  justify-content: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
