<div>
    <ul class="footer fixed-bottom">
    <li><%= image_tag "facebook.png", width: 20, class:'img-bottom' %></li>
    </li><li><%= image_tag "twitter.png", width: 20, class:'img-bottom' %></li>
    </li><li><%= image_tag "linkedin.png", width: 20, class:'img-bottom' %></li>
    </li><li><%= image_tag "instagram3.png", width: 25, class:'img-bottom' %></li>
    </ul>
</div>
