<<<<<<< HEAD
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
</div>
=======
<ul class="navbar">
    <li><a href="boats.html">Pesquisar modelos</a></li>
    <%# <li><a href="boats.html">Vender</a></li> %>
    <li><a href="users/sign_in.html" class="btn-primary rounded">Login</a></li>
</ul>
>>>>>>> 629b5707d66242f7d9d05481fd368693ed22f26d
