<div>
    <ul class="navbar">
    <li></li>
    <li>
      <%= link_to root_path, class: "navbar" do %>
        <strong>Boat Sale</strong> <%= image_tag "boat_sale.png", width: 40 %>
      <% end %>
    </li>

    <li><%= link_to "Pesquisar modelos", boats_path%></li>
    <%# <li><a href="boats.html">Vender</a></li> %>
    <li><a href="users/sign_in.html" class="btn-primary btn-login p-2">Login</a></li>
    <li></li>
    </ul>
</div>
