<div class="container">

<br><br>
<br><br>

<div class="box">
  <div class="col">
    <div class="grid-template-columns">
      <h1><strong>Compre o<br>Barco da sua<br>
      vida em um<br>clique</h1>
    </div>
  </div>

  <div class="col">
        <%= image_tag "boat.jpg", alt: "Boat", width: 300, class:'img_home' %>
  </div>
</div>


</div>
