<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-3"><h1><strong>Compre o<br>barco da sua<br>vida em um clique</strong></div>
      <div class="col-md-5"><%= image_tag "boat-edit.jpg", alt: "Boat", width: '100%', class:'img-home' %></div>
      <div class="col-md-2"><%= image_tag "boat2-edit2.jpg", alt: "Boat2", width: '100%', class:'img-home' %></div>
      <div class="col-md-2"><%= image_tag "boat3-edit2.jpg", alt: "Boat2", width: '100%', class:'img-home' %></div>
    </div>
  </div>
</div>
