<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-3"><h1-2><br><br><strong>Compre o barco da sua vida<br> em um clique</strong></div>
      <div class="col-md-9"><%= image_tag "boat-6.png", alt: "Boat", width: 1000, class:'img-home' %></div>
    </div>
  </div>
</div>
