<div class="container">

<br><br>
<br><br>
<br><br>


<div></div><h1><strong>Compre o<br>Barco da sua<br>
vida em um<br>clique</h1>
</div>

<br><br>

<div class="container">
<div
  class="img-home">
  <%= image_tag "boat.jpg", alt: "Boat", width: 300 %>
</div>
