<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-3"><h1><strong><br>Compre o<br>barco da sua<br>vida em um clique</strong></div>
      <div class="col-md-9"><%= image_tag "boat-6.png", alt: "Boat", width: 1000, class:'img-home' %></div>
    </div>
  </div>
</div>
