.card {
  background-size: cover;
  background-position: center;
  // height: 75px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  font-weight: bolder;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 30px;
  flex-grow: 1;
}
