.navbar {
  padding: 15px;
  background: rgba(234, 234, 234, 0.7);
  text-decoration: none;
  list-style: none;
  color: black;
  // font-style: inter;
}

.btn-login {
  margin-top: 5px;
  border-radius: 10px;

}

a {
  text-decoration: none;
}

.img-logo {
  margin-bottom: 5px;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white
// //   position: sticky;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
